# Created by .ignore support plugin (hsz.mobi)
Будет удалено .idea/.gitignore
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/netclicks.iml
Будет удалено .idea/vcs.xml
